.service-image {

    width: 100%;

}

.service {
    /* border: 1px solid lightseagreen; */
    border-radius: 10px;

    width: 400px;

}

.card-body {
    background-color: #BC74A5;
    color: white;
}

.button-color {
    background-color: #0E54AE;
    color: white;
    width: 10rem;
    height: 2rem;
    border-radius: .4rem;
    border: none;
}