.services-title {
    text-align: center;
    color: blue;
}

.service-info {
    padding: 1rem;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

}

/*make serivces resposive*/
@media only screen and (max-width:576px) {
    .service-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-image {
        width: 280px;
    }

    .service {
        width: 280px;
    }

}

@media only screen and (max-width:577px) and (max-width:992px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
}